@import url('https://fonts.googleapis.com/css?family=Slabo+27px|Source+Sans+Pro');
$gray: #ECF0F1;
$blue: #00263C;

body {
  background: $gray;
  padding: 100px;
}

h1 {
  font-family: 'Slabo', serif;
  font-size: 48px;
  color: $blue;
  text-align: center;
}

h4 {
  font-family: 'Source Sans Pro', sans-serif;
  color: $blue;
}

#ballot {
  padding: 50px;
  width: 50%;
  text-align: center;
  margin: 0 auto;
  border: 2px solid $blue;
}
